@charset "UTF-8";

body{
   font-family: 'Noto Sans KR', sans-serif;
}

#mycontainer	{ width:100%; margin:0 auto; padding-top: 20px; }
/*header css*/
#myheader		{ height:220px;  border-bottom: solid 1.5px black;}
#logo			{ width: 300px;  height:200px;}
#login			{ text-align: right; padding-right: 30px;}


#mycontent		{ min-height:100px; padding-top: 40px;}

#myheader a {text-decoration:none;}

/* mouse over link */
#myheader a:hover {color: orange; font-weight: bolder;}

#myheader .mynav {font-size: 13pt;}
.myrank 		{font-weight:bold; color:red; font-size:13pt;}
.myaligncenter 	{text-align:center;}



/* footer css */
#myfooter		{background-color:#F5F5F5; height:200px; width:100%; padding: 50px 10px 0px 50px;}
#footerSchoolName	{float: left; width: 50%; padding:10px;}
#address 		{font-size:12pt; font-weight:bold; float: left; width: 47%; padding:10px; text-align: right;} 